In [43]:
#!pip install python-dotenv

Collecting python-dotenv
  Downloading python_dotenv-1.0.1-py3-none-any.whl.metadata (23 kB)
Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.1

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [74]:
from dotenv import load_dotenv
import os 
import pandas as pd 
import requests
import json
from pandas import json_normalize
from datetime import datetime, timedelta

In [45]:
#load_dotenv()
#api_key = os.getenv("write api_key")

In [ ]:

# # Set up your API key and base URL
# API_KEY = 'api_key'  # Replace with your OpenExchangeRates API key
# BASE_URL = 'https://openexchangerates.org/api/historical'

# # List of dates for which you want to fetch data
# dates = [
#     '2024-09-01', '2024-09-02', '2024-09-03', '2024-09-04', '2024-09-05',
#     '2024-09-06', '2024-09-07', '2024-09-08', '2024-09-09', '2024-09-10',
#     '2024-09-11', '2024-09-12', '2024-09-13', '2024-09-14', '2024-09-15',
#     '2024-09-16', '2024-09-17', '2024-09-18', '2024-09-19', '2024-09-20'
# ]

# # Initialize an empty DataFrame to store the results
# df = pd.DataFrame()

# # Iterate over the list of dates and make API calls
# for date in dates:
#     # Construct the URL for the API call
#     url = f'{BASE_URL}/{date}.json?app_id={API_KEY}'
    
#     # Make the API request
#     response = requests.get(url)
    
#     # Check if the response status code is 200 (OK)
#     if response.status_code == 200:
#         data = response.json()
        
#         # Convert JSON to DataFrame
#         temp_df = pd.DataFrame(data['rates'], index=[date])
        
#         # Append to the main DataFrame
#         df = pd.concat([df, temp_df])
#     else:
#         print(f"Failed to retrieve data for date {date}: {response.status_code}")

# # Print the final DataFrame
# print(df)

In [11]:
# Your OpenExchangeRates API key
# API_KEY = 'api_key'
# BASE_URL = 'https://openexchangerates.org/api/historical'

# # Function to adjust for weekends (returns nearest weekday)
# def adjust_for_weekend(date):
#     # 5 = Saturday, 6 = Sunday
#     if date.weekday() == 5:  # Saturday
#         return date - timedelta(days=1)  # Move to Friday
#     elif date.weekday() == 6:  # Sunday
#         return date + timedelta(days=1)  # Move to Monday
#     return date

# # Generate list of January 15th dates from 1999 to 2024
# years = range(1999, 2025)
# dates = [adjust_for_weekend(datetime(year, 1, 15)) for year in years]

# # Initialize an empty DataFrame to store the results
# df = pd.DataFrame()

# # Iterate over the list of dates and make API calls
# for date in dates:
#     formatted_date = date.strftime('%Y-%m-%d')  # Format the date as YYYY-MM-DD
#     url = f'{BASE_URL}/{formatted_date}.json?app_id={API_KEY}'
    
#     # Make the API request
#     response = requests.get(url)
    
#     # Check if the response status code is 200 (OK)
#     if response.status_code == 200:
#         data = response.json()
        
#         # Convert JSON to DataFrame (data['rates'] has the currency exchange rates)
#         temp_df = pd.DataFrame(data['rates'], index=[formatted_date])
        
#         # Append to the main DataFrame
#         df = pd.concat([df, temp_df])
#     else:
#         print(f"Failed to retrieve data for date {formatted_date}: {response.status_code}")

# # Reset index to get the date as a column
# df.reset_index(inplace=True)
# df.rename(columns={'index': 'date'}, inplace=True)

# # Display the final DataFrame
# print(df)

# # Optionally, save to CSV for later analysis
# # df.to_csv('exchange_rates_1999_2024.csv', index=False)

In [6]:
# Optionally, save to CSV for later analysis
# df.to_csv('exchange_rates_1999_2024.csv', index=False)

In [5]:
historical_df = pd.read_csv('exchange_rates_1999_2024.csv')
historical_df

,date,ANG,AUD,AWG,BBD,BMD,BRL,BSD,CAD,CHF,...,IMP,CUC,BYN,XPD,XPT,CNH,MRU,SSP,STN,VES
0,1999-01-15,1.787029,1.578608,1.787029,2.000000,1,1.473715,1.000000,1.528871,1.377330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-14,1.790000,1.499955,1.790000,2.000000,1,1.804999,1.000000,1.449872,1.587126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001-01-15,1.790000,1.806105,1.790000,2.000000,1,1.948974,1.000000,1.502133,1.632163,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002-01-15,1.790000,1.927788,1.790000,2.000000,1,2.363541,1.000000,1.590466,1.662805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2003-01-15,1.790000,1.711419,1.790000,2.000000,1,3.301954,1.000000,1.538305,1.386698,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2004-01-15,1.790000,1.296937,1.790000,2.000000,1,2.817075,1.000000,1.294399,1.241459,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2005-01-14,1.790000,1.317618,1.790000,2.000000,1,2.707039,1.000000,1.214941,1.182087,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2006-01-16,1.785000,1.326614,1.790000,2.000000,1,2.283255,1.000000,1.159976,1.276854,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2007-01-15,1.782500,1.275762,1.790250,2.000000,1,2.137627,1.000000,1.168376,1.247014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2008-01-15,1.782500,1.118032,1.790250,2.000000,1,1.743074,1.000000,1.015628,1.090768,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2009-01-15,1.787500,1.513038,1.790250,2.000000,1,2.377894,1.000000,1.253730,1.123475,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2010-01-15,1.791000,1.082700,1.790250,2.000000,1,1.768728,1.000000,1.028324,1.026472,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2011-01-14,1.790750,1.012165,1.790250,2.000000,1,1.684459,1.000000,0.992355,0.965852,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2012-01-16,1.790000,0.969484,1.789950,2.000000,1,1.784053,1.000000,1.018820,0.954476,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2013-01-15,1.778980,0.946937,1.790033,2.000000,1,2.034135,1.000000,0.984336,0.926833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2014-01-15,1.789000,1.122476,1.790750,2.000000,1,2.359330,1.000000,1.093336,0.907210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2015-01-15,1.789580,1.220159,1.790000,2.000000,1,2.646945,1.000000,1.196550,1.019328,...,0.658714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2016-01-15,1.788800,1.457546,1.793333,2.000000,1,4.041446,1.000000,1.450447,1.001794,...,0.701436,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2017-01-16,1.776850,1.338418,1.799996,1.999842,1,3.242009,0.999087,1.317697,1.011235,...,0.830559,1.0,1.953045,0.001341,0.001016,NaN,NaN,NaN,NaN,NaN
19,2018-01-15,1.783652,1.256234,1.789995,2.000000,1,3.216500,1.000000,1.242870,0.963296,...,0.724944,1.0,1.994956,0.000887,0.001003,6.434606,35.350000,130.2634,20.550000,NaN
20,2019-01-15,1.775733,1.387594,1.800252,2.000000,1,3.717400,1.000000,1.326135,0.987313,...,0.776910,1.0,2.158890,0.000755,0.001249,6.768838,36.200000,130.2634,21.500000,9.485927e+02
21,2020-01-15,1.614506,1.447608,1.800000,2.000000,1,4.175566,1.000000,1.303951,0.963744,...,0.766878,1.0,2.121735,0.000439,0.000976,6.889040,37.496656,130.2600,22.150000,3.347486e+04
22,2021-01-15,1.795382,1.298248,1.800000,2.000000,1,5.293100,1.000000,1.273729,0.891394,...,0.736158,1.0,2.568863,0.000418,0.000931,6.481500,36.385000,130.2600,20.500000,1.497940e+06
23,2022-01-14,1.801714,1.387540,1.800000,2.000000,1,5.534900,1.000000,1.254690,0.914214,...,0.731154,1.0,2.577781,0.000532,0.001027,6.357895,36.400000,130.2600,21.680000,4.630100e+00
24,2023-01-16,1.802320,1.435556,1.800000,2.000000,1,5.147500,1.000000,1.339947,0.925610,...,0.819105,1.0,2.524153,0.000570,0.000938,6.741510,36.381690,130.2600,22.629450,1.942768e+01
25,2024-01-15,1.800467,1.503703,1.802500,2.000000,1,4.863700,1.000000,1.343648,0.856027,...,0.786436,1.0,3.269292,0.001026,0.001096,7.186915,39.614479,130.2600,22.361155,3.592101e+01

In [73]:
# with open('config.json') as config_file:
#     config = json.load(config_file)
#     api_key = config['api_key']
# print(api_key)

In [75]:
# Load the API key from the config.json file
with open('config.json') as config_file:
    config = json.load(config_file)
    api_key = config['api_key']

# Define the URL and headers
url = f'https://openexchangerates.org/api/latest.json?app_id={api_key}'
#headers = {'Authorization': f'Bearer {api_key}'}

# Make the request
response = requests.get(url)

# Print the status code
print(response.status_code)
# Optionally print the response content
print(response.json())

200
{'disclaimer': 'Usage subject to terms: https://openexchangerates.org/terms', 'license': 'https://openexchangerates.org/license', 'timestamp': 1726484400, 'base': 'USD', 'rates': {'AED': 3.672965, 'AFN': 69.498174, 'ALL': 89.661785, 'AMD': 387.032842, 'ANG': 1.802434, 'AOA': 927.390667, 'ARS': 959.1983, 'AUD': 1.48328, 'AWG': 1.8025, 'AZN': 1.7, 'BAM': 1.76365, 'BBD': 2, 'BDT': 119.518474, 'BGN': 1.7584, 'BHD': 0.376821, 'BIF': 2897.969541, 'BMD': 1, 'BND': 1.299067, 'BOB': 6.911042, 'BRL': 5.5677, 'BSD': 1, 'BTC': 1.7032628e-05, 'BTN': 83.903687, 'BWP': 13.308144, 'BYN': 3.272945, 'BZD': 2.015889, 'CAD': 1.357635, 'CDF': 2840.280579, 'CHF': 0.844835, 'CLF': 0.033679, 'CLP': 929.31, 'CNH': 7.092805, 'CNY': 7.0935, 'COP': 4199.162973, 'CRC': 517.697106, 'CUC': 1, 'CUP': 25.75, 'CVE': 99.431871, 'CZK': 22.597771, 'DJF': 178.089025, 'DKK': 6.709306, 'DOP': 59.958162, 'DZD': 132.287947, 'EGP': 48.4287, 'ERN': 15, 'ETB': 117.176855, 'EUR': 0.899103, 'FJD': 2.2159, 'FKP': 0.757956, 'GBP': 0.757956, 'GEL': 2.7, 'GGP': 0.757956, 'GHS': 15.671581, 'GIP': 0.757956, 'GMD': 70.5, 'GNF': 8644.194537, 'GTQ': 7.736147, 'GYD': 209.233913, 'HKD': 7.794528, 'HNL': 24.789439, 'HRK': 6.774177, 'HTG': 131.908562, 'HUF': 354.079651, 'IDR': 15396.5, 'ILS': 3.748925, 'IMP': 0.757956, 'INR': 83.870453, 'IQD': 1310.155728, 'IRR': 42092.5, 'ISK': 137.11, 'JEP': 0.757956, 'JMD': 157.12307, 'JOD': 0.7086, 'JPY': 140.124, 'KES': 129, 'KGS': 84.6688, 'KHR': 4056.980722, 'KMF': 445.225289, 'KPW': 900, 'KRW': 1318.088821, 'KWD': 0.3049, 'KYD': 0.833401, 'KZT': 479.922586, 'LAK': 22115.955979, 'LBP': 89562.241385, 'LKR': 301.303126, 'LRD': 200.018935, 'LSL': 17.786195, 'LYD': 4.773027, 'MAD': 9.753551, 'MDL': 17.374781, 'MGA': 4538.512422, 'MKD': 55.333748, 'MMK': 2098, 'MNT': 3398, 'MOP': 8.033094, 'MRU': 39.555436, 'MUR': 45.950004, 'MVR': 15.35, 'MWK': 1734.166213, 'MXN': 19.193437, 'MYR': 4.3015, 'MZN': 63.874992, 'NAD': 17.786195, 'NGN': 1647.23, 'NIO': 36.800578, 'NOK': 10.591218, 'NPR': 134.247125, 'NZD': 1.615783, 'OMR': 0.384931, 'PAB': 1, 'PEN': 3.771315, 'PGK': 3.965914, 'PHP': 55.863999, 'PKR': 278.201375, 'PLN': 3.841818, 'PYG': 7764.957144, 'QAR': 3.646062, 'RON': 4.4725, 'RSD': 105.232554, 'RUB': 91.149175, 'RWF': 1357.598724, 'SAR': 3.753011, 'SBD': 8.36952, 'SCR': 13.619853, 'SDG': 601.5, 'SEK': 10.179355, 'SGD': 1.295164, 'SHP': 0.757956, 'SLL': 20969.5, 'SOS': 571.536859, 'SRD': 29.48, 'SSP': 130.26, 'STD': 22281.8, 'STN': 22.092971, 'SVC': 8.75062, 'SYP': 2512.53, 'SZL': 17.78898, 'THB': 33.245, 'TJS': 10.640967, 'TMT': 3.51, 'TND': 3.036476, 'TOP': 2.35268, 'TRY': 33.989195, 'TTD': 6.78119, 'TWD': 31.678498, 'TZS': 2730.374765, 'UAH': 41.368417, 'UGX': 3715.258759, 'USD': 1, 'UYU': 41.082229, 'UZS': 12742.837469, 'VES': 36.729003, 'VND': 24542.897938, 'VUV': 118.722, 'WST': 2.8, 'XAF': 589.772707, 'XAG': 0.03235513, 'XAU': 0.00038771, 'XCD': 2.70255, 'XDR': 0.741245, 'XOF': 589.772707, 'XPD': 0.00093328, 'XPF': 107.291491, 'XPT': 0.00101051, 'YER': 250.300001, 'ZAR': 17.658565, 'ZMW': 26.277346, 'ZWL': 322}}

In [76]:
latest = response.json()
print(latest)

{'disclaimer': 'Usage subject to terms: https://openexchangerates.org/terms', 'license': 'https://openexchangerates.org/license', 'timestamp': 1726484400, 'base': 'USD', 'rates': {'AED': 3.672965, 'AFN': 69.498174, 'ALL': 89.661785, 'AMD': 387.032842, 'ANG': 1.802434, 'AOA': 927.390667, 'ARS': 959.1983, 'AUD': 1.48328, 'AWG': 1.8025, 'AZN': 1.7, 'BAM': 1.76365, 'BBD': 2, 'BDT': 119.518474, 'BGN': 1.7584, 'BHD': 0.376821, 'BIF': 2897.969541, 'BMD': 1, 'BND': 1.299067, 'BOB': 6.911042, 'BRL': 5.5677, 'BSD': 1, 'BTC': 1.7032628e-05, 'BTN': 83.903687, 'BWP': 13.308144, 'BYN': 3.272945, 'BZD': 2.015889, 'CAD': 1.357635, 'CDF': 2840.280579, 'CHF': 0.844835, 'CLF': 0.033679, 'CLP': 929.31, 'CNH': 7.092805, 'CNY': 7.0935, 'COP': 4199.162973, 'CRC': 517.697106, 'CUC': 1, 'CUP': 25.75, 'CVE': 99.431871, 'CZK': 22.597771, 'DJF': 178.089025, 'DKK': 6.709306, 'DOP': 59.958162, 'DZD': 132.287947, 'EGP': 48.4287, 'ERN': 15, 'ETB': 117.176855, 'EUR': 0.899103, 'FJD': 2.2159, 'FKP': 0.757956, 'GBP': 0.757956, 'GEL': 2.7, 'GGP': 0.757956, 'GHS': 15.671581, 'GIP': 0.757956, 'GMD': 70.5, 'GNF': 8644.194537, 'GTQ': 7.736147, 'GYD': 209.233913, 'HKD': 7.794528, 'HNL': 24.789439, 'HRK': 6.774177, 'HTG': 131.908562, 'HUF': 354.079651, 'IDR': 15396.5, 'ILS': 3.748925, 'IMP': 0.757956, 'INR': 83.870453, 'IQD': 1310.155728, 'IRR': 42092.5, 'ISK': 137.11, 'JEP': 0.757956, 'JMD': 157.12307, 'JOD': 0.7086, 'JPY': 140.124, 'KES': 129, 'KGS': 84.6688, 'KHR': 4056.980722, 'KMF': 445.225289, 'KPW': 900, 'KRW': 1318.088821, 'KWD': 0.3049, 'KYD': 0.833401, 'KZT': 479.922586, 'LAK': 22115.955979, 'LBP': 89562.241385, 'LKR': 301.303126, 'LRD': 200.018935, 'LSL': 17.786195, 'LYD': 4.773027, 'MAD': 9.753551, 'MDL': 17.374781, 'MGA': 4538.512422, 'MKD': 55.333748, 'MMK': 2098, 'MNT': 3398, 'MOP': 8.033094, 'MRU': 39.555436, 'MUR': 45.950004, 'MVR': 15.35, 'MWK': 1734.166213, 'MXN': 19.193437, 'MYR': 4.3015, 'MZN': 63.874992, 'NAD': 17.786195, 'NGN': 1647.23, 'NIO': 36.800578, 'NOK': 10.591218, 'NPR': 134.247125, 'NZD': 1.615783, 'OMR': 0.384931, 'PAB': 1, 'PEN': 3.771315, 'PGK': 3.965914, 'PHP': 55.863999, 'PKR': 278.201375, 'PLN': 3.841818, 'PYG': 7764.957144, 'QAR': 3.646062, 'RON': 4.4725, 'RSD': 105.232554, 'RUB': 91.149175, 'RWF': 1357.598724, 'SAR': 3.753011, 'SBD': 8.36952, 'SCR': 13.619853, 'SDG': 601.5, 'SEK': 10.179355, 'SGD': 1.295164, 'SHP': 0.757956, 'SLL': 20969.5, 'SOS': 571.536859, 'SRD': 29.48, 'SSP': 130.26, 'STD': 22281.8, 'STN': 22.092971, 'SVC': 8.75062, 'SYP': 2512.53, 'SZL': 17.78898, 'THB': 33.245, 'TJS': 10.640967, 'TMT': 3.51, 'TND': 3.036476, 'TOP': 2.35268, 'TRY': 33.989195, 'TTD': 6.78119, 'TWD': 31.678498, 'TZS': 2730.374765, 'UAH': 41.368417, 'UGX': 3715.258759, 'USD': 1, 'UYU': 41.082229, 'UZS': 12742.837469, 'VES': 36.729003, 'VND': 24542.897938, 'VUV': 118.722, 'WST': 2.8, 'XAF': 589.772707, 'XAG': 0.03235513, 'XAU': 0.00038771, 'XCD': 2.70255, 'XDR': 0.741245, 'XOF': 589.772707, 'XPD': 0.00093328, 'XPF': 107.291491, 'XPT': 0.00101051, 'YER': 250.300001, 'ZAR': 17.658565, 'ZMW': 26.277346, 'ZWL': 322}}

In [77]:
latest_df = pd.DataFrame(latest)

In [78]:
latest_df

,disclaimer,license,timestamp,base,rates
AED,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,1726484400,USD,3.672965
AFN,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,1726484400,USD,69.498174
ALL,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,1726484400,USD,89.661785
AMD,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,1726484400,USD,387.032842
ANG,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,1726484400,USD,1.802434
...,...,...,...,...,...
XPT,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,1726484400,USD,0.001011
YER,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,1726484400,USD,250.300001
ZAR,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,1726484400,USD,17.658565
ZMW,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,1726484400,USD,26.277346
ZWL,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,1726484400,USD,322.000000

In [3]:
# response = requests.get('https://openexchangerates.org/api/historical/2012-07-10.json?app_id=write api_key')

In [4]:
# data = response.json()

In [11]:
# print(json.dumps(data, indent=2))

In [6]:
# historical_df = pd.DataFrame(data)